<!-- File to launch all the main nodes to run husky -->

<launch>

  <!-- start sensor bridge -->
  <node name="sensor_bridge" pkg="rf_comm" type="sensor_bridge" output="screen" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find husky_navigation)/maps/husky_levine4th.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run scan filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find husky_navigation)/config/laser_filter_params.yaml" />
  </node>

  <!--- Run AMCL -->
  <!-- can initialize default parameters here -->
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find husky_navigation)/launch/amcl.launch" >
     <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
     <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
     <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--- Run Move Base -->
  <include file="$(find husky_navigation)/launch/move_base.launch" />

  <!-- start rviz -->
  <include file="$(find husky_viz)/launch/view_model.launch"/>

</launch>
